body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  .breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;

      &:before {
        content: '»';
        margin: 0 10px;
      }

      &:first-of-type {
        &:before {
          display: none;
        }
      }

      &:last-of-type {
        a {
          color: #fff;
        }
      }
    }
  }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.error-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 48px 72px;

  .page & {
    margin: 0;
    padding: 30px 60px;
  }
}

.addon-group-list {
  a,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  .version {
    a,
    a:visited {
      font-size: 32px;
    }
  }

  td {
    &.addons {
      vertical-align: top;

      > div {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;

        &:first-of-type {
          margin-top: 5px;
        }

        &:last-of-type {
          border: none;
          margin-bottom: 5px;
        }

        &.outdated {
          color: #c00;
          text-decoration: line-through;
        }

        &.updated {
          color: #090;
        }
      }
    }
  }
}
